.header {
  /* height: 800px; */
  padding-top: 7%;
  /* height: 100%; */
  width: 100%;
  /* background: var(--main-bg-color); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
}

.header .contact {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.contact ul {
  list-style-type: circle;
  padding: 20px;
}
.title{
  padding-top: 30px;
  font-size: x-large;
  color: whitesmoke;
  text-align: center;
}

/* .logo{
  padding-top: 10px;
  margin: 0 5%;
} */

.logo img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .header {
    /* flex-direction: column-reverse; */
    font-size: small;
    padding-top: 40%;
    /* align-items: center;  */
  }

  .logo img{
    height: 120px;
    width: 120px;
  }
}
