.main-container {
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.portfolio-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .main-container {
    width: 100%;
  }
}
