.main-container {
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.portfolio-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
}

.back-to-top-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 80vh;
  padding: 10px;
  text-align:right; 
  margin:0px 10px 0px auto;
  width:50px;
  z-index: 1;
}

.icon {
  color: orange; 
}

.back-to-top-wrapper .icon {
  font-size: 2.5em; 
}

@media screen and (max-width: 750px) {
  .main-container {
    width: 100%;
  }
  .back-to-top-wrapper {
    margin:0px 0px 0px auto;
    padding: 5px;
    width: 0;
  }
}
