:root {
  --main-bg-color:#86c5da;
  /* --main-bg-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(113,158,169,1) 0%, rgba(0,212,255,1) 100%);*/
  --main-bg-page: #fff;
}

#root {
  height: 100%;
}

.app {
  background: var(--main-bg-page);
  height: 100%;
  width: 100%;
  position: absolute;
  min-height: 1100px;
}

.container-xl{
  /* height: calc(100% - 100px); */
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}



@media screen and (max-width: 750px) {
  .container-xl {
    flex-direction: column;
  }
}
